.grid{
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.title {
    grid-column: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image {
    grid-column: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}