<form (ngSubmit)="login()" #myForm=ngForm>​  

  <div class="form-group">​

    <label for="username">Username : </label>​

    <input type="text" class="form-control" id="username" required [(ngModel)]="username" name="user" #usernameVar="ngModel" placeholder="inserisci username" >​

    <div [hidden]="usernameVar.valid || usernameVar.pristine" class="alert alert-danger">Username is required</div>​

  </div>​

  <div class="form-group">​

    <label for="password">Password : </label>​

    <input  type="text" class="form-control" id="password" required [(ngModel)]="password" name="pass" #passwordVar="ngModel" placeholder="inserisci password">​

    <div [hidden]="passwordVar.valid || passwordVar.pristine" class="alert alert-danger">Password is required</div>​

  </div>​

  <button [disabled]="myForm.form.invalid"  type="submit" class="btn btn-success">Submit</button>​

</form>





